*{
	font-family: Arial, "Times New Roman",Georgia,Serif;
	font-size:14px;
}
/*일반모드에서는*/
.m-visible{ display:none;} /*모바일용 컨텐츠를 숨깁니다*/

.fl { float:left; }
.text-left{text-align: left}
.text-center{text-align: center};
.text-right{text-align:right;}
.clear{clear:both;}

.hidden{display: none;}
.visible{display:block;}


#wrapper
{
	width:960px;
	margin:0 auto;
}
#header-container{
	height:100px;
	background-color: #f3f3f5;
	padding:20px 0 0 0;
}
#logo
{
	color:#5f5f5f;
	margin-left: 20px;
	
}
#logo-head-title{
	font-size: 60px;
	font-style: italic;
}
#logo-sub-title{
	font-size: 20px;
	text-align: right;
	margin:-10px 0 0 0;
}
#search 
{
	margin-left: 30px;
	
}
#search-form-container
{
	padding:25px 0 0 0;
}
#search-form
{
	width:440px;
	height:30px;
	-moz-border-radius:5px; 
	-webkit-border-radius: 5px; 
	-khtml-border-radius: 5px; 
	border-radius: 5px; 
	border-color: #CCC;
}
#search-form-btn
{
	color:white;
	height:40px;
}
#menu-container{
	height:50px;
	text-align: center;
	
}
#menu
{
	padding:18px 0px 0 0px;
}
#menu ul li
{
	display:inline;
	padding:0 50px 0 50px;
}
#menu ul li a
{
	text-decoration: none;
	color:#AAA;
}
#menu ul li a:hover
{
	cursor: pointer;
	color:red;
}
#introduction-container .introduction
{
	width:240px;
		text-align: center;

}
#introduction-container .introduction img
{
	width:70%;
	padding: 0 0 50px 0;
}
#introduction-container .introduction h1
{
	font-size: 30px;
	color:#777;
	padding:0 0 50px 0;
}

#introduction-container .introduction p
{
	font-size: 20px;
	color:#777;
	padding:0 0 50px 0;
}

#sale-info-section{
	width:50%;
}


#sale-image{
	width:100%;
}

#sale-description-section{
	width:50%;
	font-size: 30px;
	padding: 190px 0 0 0;
	color: #777;
	text-align: center;
}


/* ABOUT */
#about-container h1,
#about-container p{
	color: #777;
	padding: 20px 0 20px 0;
}
#about-container h1{
	font-size: 45px;
}

#about-container p{
	font-size: 20px;
}

#about-container img
{
	width:100%;
}

/*product*/
.product-item {
	width: 320px;
	text-align: center;
}
.side-border{
	border-left: 1px #DDD dashed;
	border-right: 1px #DDD dashed;
	width:318px; /*320px - 2px(borders)*/
}

.product-item h3{
	font-size: 30px;
	font-style: italic;
	color:#777;
}

.product-item p{
	padding:20px 20px 10px;
	text-align: justify;
}

.product-more-btn{
	width:160px;
	padding: 30px 0 60px 0;
}

/*product-detail*/

#product-detail-images-container h1, 
#product-detail-specifications-container h1,
#product-detail-rating-container h1{
	text-align: center;

	font-size: 30px;
	padding: 30px 0 15px 0;
	color: #777;
}

#product-detail-images-container
{
	text-align: center;
}
#product-detail-images-container img
{
	width: 300px;
}

#product-detail-table{
	width:100%;
	border: 1px #CCC solid;
}
#product-detail-table .product-category{
	background-color: blue;
	width: 15%;
	padding: 10px;
	text-align:center;
	color: white;
	font-weight: bold;
}
#product-detail-table .product-specification{
	width:85%;
	padding: 10px;
}

#product-detail-rating-container{
	text-align: center;
	padding:0 0 50px 0;
}
#rating{
	width:200px;
}


/* TESTMONIAL */

#testimonial-table
{
	width:100%;
}
#testimonial-table .testimonial-image
{
	width:20%;
}
#testimonial-table .testimonial-image img
{
	width:120px;
	padding:60px 20px 20px 10px;
}
#testimonial-table .testimonial-quote
{
	width:80%;
	vertical-align: top;
	padding-top: 10%;
}
#testimonial-table .testimonial-quote h3
{
	font-size: 20px;
	color:#555;
	font-style: italic;
	padding:10px 0 10px 0;
}
#testimonial-table .testimonial-quote p
{
	font-size: 16px;
	color:#555;
	padding:10px 0 10px 0;
}
/*contact*/


#contact-container
{
	padding:10px 0 30px 20px;
}

#contact-container h1
{
	font-size: 40px;
	padding: 15px 0 30px 0;
}

#contact-container label
{
	display: block;
}
#contact-container #contact-name{
	padding: 10px 0 10px 0;
}
#contact-container #contact-phone{
	padding: 10px 0 10px 0;
}
#contact-container #contact-name input,
#contact-container #contact-phone input,
#contact-container #contact-message textarea
{
	width:90%;
}
#contact-container #contact-message textarea
{
	height:200px;
}
#contact-submit button
{
	width:90%;
	height:50px;
	margin: 20px 0 0 0;
}

/* Send page */

#message-container
{
	padding:30px;
	text-align: center;

}
#message-container h1
{
	font-size: 25px;
	font-variant: italic;
	font-weight: bold;
	color:#555;
}
#message-container img
{
	text-align: center;
	padding:30px 0 0 0;
}

#footer
{
	padding: 20px 0 20px 0;
	text-align: right;
	color: #777;
	font-size: 20px;
	border-top: 1px #777 solid;
}
